
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand text-dark ms-2">FILM </a>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a routerLink="/movies" routerLinkActive="active" class="nav-link align-middle px-5 text-dark">
            <span class="ms-1 d-none d-sm-inline"> Movies</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" routerLinkActive="active" class="nav-link align-middle px-5 text-dark">
            <span class="ms-1 d-none d-sm-inline"> Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link align-middle px-5  text-dark">
            <span class="ms-1 d-none d-sm-inline">Login</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a routerLink="/logout" routerLinkActive="active" class=" nav-link align-middle px-5  text-dark">
            <span class="ms-1 d-none d-sm-inline"> Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
